* {
    box-sizing: border-box;
    line-height: 1.4;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

.panelHeader,
caption {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

caption .updateDateTime {
    color: rgba(38,166,154 ,1);
    font-size: 12px;
    font-weight: 400;
    float: right;
    margin-top: 8px;
}

th, td {
    font-size: 12px;
    padding: 0 10px;
}

td {
    height: 40px;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding: 0 10px;
    height: 35px;
}

tr {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

tr:hover td {
    cursor: pointer;
    background-color: rgba(0, 153, 204, 0.1);
    border: 1px solid rgba(0, 153, 204, 1);
    border-width: 1px 0;
}

li {
    list-style: none;
}

/* Stock Details Panel */
/* 
 * Details 
 */
 .subHeader {
    background: #09c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px 2px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;  /* same height with btns */
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid;
}

.subHeader .btn {
    float: right;
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
}

.subHeader .btn:hover {
    opacity: .7;
}

.stockSummaryInformation {
    font-size: 21px;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 1px;
    padding: 10px;
}

.stockSummaryInformation .stockChanges .latestPrice {
    font-size: 48px;
    margin-right: 50px;
}

.stockSummaryInformation .stockChanges span {
    font-size: 28px;
}

.timeStamp {
    text-transform: capitalize;
    font-size: 18px;
}

.timeStamp .latestSource {
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    padding: 3px 6px;
    border-radius: 4px;
}

.timeStamp .latestSource.closed {
    color: red;
}

.additionalInfo {
    width: 100%;
}

.additionalInfo td {
    font-size: 14px;
    padding: 10px;
}

.cellTitle {
    text-transform: uppercase;
    color: #999;
}

/* News */
.newsHeader h2,
.newsHeader button {
    display: inline-block;
}

.newsHeader h2 {
    margin: 0 10px 0 0;
}

.newsHeader button {
    font-size: 12px;
    padding: 3px 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
}

.newsList {
    margin: 0px;
    list-style: none;
    padding: 10px;
}

.newsList .releaseDate,
.newsList .newsOrder,
.newsList .newsLink {
    padding: 0 10px 0 0;
    font-size: 12px;
    display: inline-block;
    vertical-align: bottom;
}

.newsList .newsOrder {
    width: 35px;
}

.newsList .releaseDate,
.newsList .newsOrder {
    color: #09c;
}

.newsList .newsLink {
    width: 300px;
    color: #06c;
    text-decoration: none;
}
.newsList .newsLink:hover {
    text-decoration: underline;
}
.newsList .newsLink:visited {
    color: #9b42f4;
}

/* news complex view */
.newsList.complexView {
    font-size: 13px;
    padding: 0;
}

.newsList.complexView .newsItem {
    border: 1px solid #ccc;
    border-top-color: transparent;
    padding: 10px 20px 10px 40px;
}

.newsList.complexView .newsItem:hover {
    background-color: rgba(0, 153, 204, 0.1);
    border-color: #09c #ccc;
}

.newsList.complexView .newsLink {
    width: auto;
    max-width: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
}

.newsList.complexView .releaseDate {
    display: inline;
    vertical-align: initial;
    padding: 0;
}

.newsList.complexView .summary {
    color: #999;
}

/* util */
.hidden {
    display: none !important;
}

.modal {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

.modalWindow {
    position: relative;
    width: 400px;
    min-height: 300px;
    margin: auto;
    background: #fff;
    top: 50px;
}

.modalWindow > div {
    padding: 5px 10px;
}

.modalHeader {
    background: #09c;
    color: #fff;
    position: relative;
}

.modalBody {
    font-size: 13px;
    min-height: 250px;
}

.modalBody > div {
    margin-bottom: 10px;
}

.modalFooter {
    border-top: 1px solid #ccc;
}

.headerBtn {
    position: absolute;
    right: 0;
    top: 0;
    background: url(icons/close.png) center/20px no-repeat;
    border: none;
    cursor: pointer;
    padding: 10px;
    height: 100%;
    width: 32px;
}

.headerBtn:hover {
    background-color: rgba(255, 102, 102, 0.87);
}

.btnSettings {
    background: url(icons/settings.png) center/cover no-repeat;
}

.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.dropdownBtnContainer {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.dropdownBtnContainer button {
    min-width: 50px;
    cursor: pointer;
}

.optionList {
    margin: 0;
    border: 1px solid #ccc;
    position: absolute;
    list-style: none;
    padding: 5px 0;
    width: 50px;
    top: 24px;
    left: 0;
    background: #fff;
}

.optionList.hidden {
    display: none;
}

.optionList li {
    font-size: 14px;
    text-align: center;
}

.optionList li:hover {
    background: #ddd;
    cursor: pointer;
}

.optionList li.selected {
    background: #09c;
    color: #fff;
}

/* dnd */
.dndContainer {
    padding: 0;
    display: flex;
    border: 1px solid #ccc;
}

.dndItemsContainer {
    width: 50%;
    padding: 0;
    margin: 0;
}

.dndItemsContainerHeader {
    padding: 5px 10px;
    background: #67daff;
    color: #fff;
}

.dndItemsContainer.rightContainer {
    border-left: 1px solid #ccc;
}

.dndItem {
    line-height: 25px;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
}

/* Toggle button */
.toggleButtonContainer {
    position: absolute;
    right: 10px;
    top: 9px;
}

.toggleButtonContainer span {
    font-size: 12px;
    font-weight: normal;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF8A65;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: -2px;
  top: -4px;
  background-color: #FF5722;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-color: #aaa;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Exceptions */
.noData {
    font-size: 13px;
    color: #666;
    margin-top: 5px;
}